<main>

  <a [routerLink]="['/']" style="width: 100%; display: flex; box-sizing: inherit;">
    <header style="width: 100%; display: flex; box-sizing: inherit;">
        <mat-toolbar style="width: 100%; display: flex; box-sizing: inherit;">
          <span style="padding-top:1em">
            <img class="brand-logo" width="400" height="50" style="color:transparent;width:400px;height:50px" src="/assets/logo.svg" alt="logo" aria-hidden="true">
          </span>
        </mat-toolbar>
    </header>
  </a>
  <section class="content">
    <router-outlet></router-outlet>
  </section>
</main>

<router-outlet />
